/* main strcture*/
body{
    padding: 0;
    margin:0
}
article {
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
    margin: 3em;
    padding: 1em;
}
footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}
h1.bg{
    margin: 20px;
    padding: 100px;
    color: #F6B018;
    background-color: #0E3D65;
    background-image: url(880919129.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 5px solid #F6B018;
    
    text-align:center;
    box-shadow: 2px 2px 5px gray;
}
/*homepage*/
h2.homepage {
    color: #ba6363;
    background-color: #eacdcd;
    border: 5px solid #ba6363;
    max-width: 200px;
    float:left;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 20px;
    
}
h1 {
    margin: 20px;
    padding: 30px;
    color: #ba6363;
    background-color: #eacdcd;
    border: 5px solid #ba6363;
    text-align: center;
    box-shadow: 10px 10px 13px gray;
}


/*Top menu Bar*/

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    border:5px solid #ba6363;
    background-color: #eacdcd;
    max-width: 200px;
}
li{
    
    border-bottom:1px solid;
}

li a{
    display:block;
    color:#ba6363;
    padding: 8px 16px;
    text-decoration: none;

}
li:last-child{
    border-right:none;
    
}
li a.active{
    background-color: #eacdcd;
    
}
li a:hover:not(.active){
    background-color: #eacdcd;
    color:white;
}
/*DropDownList*/
.dropbtn{
    background-color: #eacdcd;
    color:#ba6363;
    border: 5px solid #ba6363;
    font-size: 30px;
    margin: 10px 20px;
    padding: 10px 20px;
    cursor:pointer;
    
}

.dropdown {
  position: relative;
  
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0;
  background-color: #eacdcd;
  min-width: 160px;
  
  z-index: 1;
}

.dropdown-content a {
  color: #ba6363;
  margin: 5px 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ba6363;
  min-width: 160px;
  display: block;
    
}

.dropdown-content a:hover {background-color: #eacdcd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #eacdcd;
}
