body,html{
    margin-left: 100px;
    margin-right: 100px;
}
a.title:visited{
    color:black;
}
a{color:white}
a:visited{
    color: white;
}
h1{
    text-align: center;
    text-decoration: none;
    float:left;
    
}
h2.list{
    
    float:right;
}
ul.list{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
}
li.list{
    float:left;
}
li.list a{
    display:block;
    color:black;
    text-align: center;
    
    text-decoration: none;
    padding: 14px 16px;
}
li.list a :hover{
    background-color: white;
}

h3.menu{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    width:80%;
    text-align: center;
    
    
    margin-left: auto;
    margin-right: auto;
    display: block;

}

    



ul.menu{ 
    margin: 0px;
    padding: 0px;
    color: white;
    display:inline-block;
        
    margin: auto;
    position: relative;
    
    list-style:none;
    overflow: hidden;
    
    
    
    
   


    
    
}
   

li.menu{
    float: left;
    border-right:3px solid wheat;
}
 

li.menu a{
    display:block;
    color:black;
    text-align: center;
    
    text-decoration: none;
    padding: 14px 16px;
}
li.menu a :hover{
    background-color: white;
}


/* Slideshow container */
.slideshow-container {
    margin: 0;
    padding: 0;
    
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    text-decoration: none;
}

.bot {
    transition: .5s ease;
    opacity: 0.2;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width:100%;
    font-size: 20px;
    bottom: -3%;
    left:25%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
    text-decoration: none;
}
.slideshow-container:hover .image {
  opacity: 0.5;
}

.slideshow-container:hover .bot {
  opacity: 1;
  
}
.text {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    
}


/* The dots/bullets/indicators */


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Side Menu*/
ul.sideMenu{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color:white;
    position: fixed;
    overflow: auto;
    
    
    
    
    
}
li.sideMenu a{
    display:block;
    color:black;
    padding 8px 16px;
    text-decoration: none;
    
    
}
li.sideMenu{
    font-family: "Times New Roman", Times, serif;
    font-size:26px;
}



    
