*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
a:visited{
    color:black;
}
.banner{
    margin:0 auto;
    width: 1500px;
}
.wraper{
    margin: 0 auto;
    width:1000px;
}
.news-wraper{
    margin:0 auto;
    width:1300px;
}
nav.list{
    width:100%;
    height:100px;
    background-color: white;  
}

.title{
    float:left;
    display: inline-block;
    list-style: none;
    line-height: 100px;
}
li.list{
    float:left;
    display: inline-block;
    list-style: none;
    line-height: 100px;
    
}
a.title{
    font-size:30px;
    font-weight: bold;
    display:block;
    text-decoration: none;
    color:black;
}
a.list{
    display:block;
    text-decoration: none;
    font-size:23px;
    padding:0 20px;
    font-weight: bold;
    color:black;
}
a.list:hover{
    color:blue;
}
nav.newgame{
    width:100%;
    height:60px;
    background-color:white;
    border: 2px solid gray;
    border-right:none;
    border-left:none;
}

li.newgame{
    float:left;
    display:inline-block;
    list-style:none;
    line-height: 60px;
    border-right: 3px ridge gray;
}
a.newgame{
    
    text-decoration: none;
    font-size:16px;
    padding:0 20px;
    color:black;
}
a.newgame:hover{
    color:blue;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size:20px;
  transition: 0.6s ease;
  -webkit-user-select: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*home page*/
/*slide*/
.slidewrapper{
    position: relative;
    margin: 0 auto;
    width:1000px;
}
/* Caption text */
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    text-decoration: none;
}
.wraper:hover .image {
  opacity: 1;
}
.wraper:hover .bot {
  opacity: 1; 
}
.text {
    border: 3px solid black;
    background-color: white;
    font-size: 26px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none; 
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*videopage*/
.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top:25px;
    height:0px;
}
.videowrapper iframe{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom: 0px;
    height:100%;
    width:100%;

    
}

/*cover image*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* five thumbmail image*/
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* image gallery*/
p.imgtitle{
    font-size:36px;
    font-weight: bold;
    line-height: 100px;
    text-transform: capitalize;
    
}
.imgrow{
    display:flex;
}
.imgcol{
    flex:16.666%;
    padding:8px;
}
p.imgtext{
    font-size:22px;
    line-height:30px;
    font-weight:bold;
    color:black;
    text-transform: capitalize;
}
/*wikipage*/
.wiki-row{
    display:flex;
}
.wiki-image{
    width: 100%;
    height:400px;
}
.hiddenimg{
    width:100%;
}
.wiki-col1{
    width:33.33%;
    border: 3px solid black;
    margin:5px;
    text-align: center;
    background-image:url(https://cdn.images.express.co.uk/img/dynamic/143/590x/secondary/GTA-6-news-2396709.webp?r=1585838420454);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.popup {
  /*transition: .5s ease;*/
  opacity: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%); 
}
.hiddenimg:hover .popup{
    opacity: 1;
}
.wikitext{
    border: 5px solid white;
    background-color:black;
    font-size:46px;
    color:white;
}

.wiki-col2{
    width:33.33%;
    border: 3px solid black;
    margin:5px;
    text-align: center;
    background-image:url(https://file-cdn.urcdkeys.com/product/P201609081840430466.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wiki-col3{
    width:33.33%;
    border: 3px solid black;
    margin:5px;
    text-align: center;
    background-image:url(https://static-cdn.jtvnw.net/ttv-boxart/Animal%20Crossing%3A%20New%20Horizons.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wiki-title{
    font-size:36px;
    font-weight: bold;
    line-height: 100px;
    text-transform: capitalize;
}
.guide-row{
    display: flex;
}
.guide-col{
    width:25%;
    margin:0px;
    padding: 37px;
    
}
a.wiki-link:hover{
    text-decoration: underline;
    color:black
}
/*news page*/
.news-row{
    display:flex;
}
.news-col{
    flex:60%;
    padding:8px;
    margin:5px;
}
.hidden-text{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  
  left: 50%;
  transform: translate(-50%,-100%);
  
  text-align: center;
    
}
.news-img{
      opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.pop-text {
  font-size: 16px;
  
}
.news-col:hover .news-img{
    opacity: 0.7;
}
.news-col:hover .hidden-text{
    opacity: 1;
}





    
