* {
    margin:0;
    padding: 0;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 700px 700px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". title header ."
        ". menu menu ."
        ". slideshow slideshow ."
       ;
        
}

.title{
    grid-area: title;
}
.header{
    grid-area: header;
    
}
ul.list{
    
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
    float:right;
    font-size:24px;
    font-weight: bold;
    
}
li.list{
    float:left;
}
li.list a{
    display:block;
    color:black;
    text-align: center;
    
    text-decoration: none;
    padding: 14px 16px;
}
li.list a :hover{
    background-color: white;
}

.menu{
    grid-area: menu;
}
ul.menu{
    
    display:block;
    font-size:19px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    color: white;
    display:inline-block;
    left:200px;
        
    margin: auto;
    position: relative;
    
    list-style:none;
    overflow: hidden;
}
   
li.menu{
    
    float:left;
    border-right:3px solid wheat;
    
}
 

li.menu a{
    display:block;
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li.menu a :hover{
    background-color: white;
}
.slideshow{
    grid-area: slideshow;

}
.slideshow-container {
    margin: 0;
    padding: 0;
    max-height: 100px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    text-decoration: none;
}

.bot {
    transition: .5s ease;
    opacity: 0.2;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width:100%;
    font-size: 20px;
    bottom: -3%;
    left:25%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
    text-decoration: none;
}
.slideshow-container:hover .image {
  opacity: 0.5;
}

.slideshow-container:hover .bot {
  opacity: 1;
  
}
.text {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    top:200px;
    
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.content{
    grid-area: content;
    
}

.footer{
    grid-area: footer;
}

