*{
    margin:0;
    padding:0;
}
a:visited{
    color:black;
}
.banner{
    margin:0 auto;
    width: 1000px;
}
nav.list{
    width:100%;
    height:100px;
    background-color: white;  
}

.title{
    float:left;
    display: inline-block;
    list-style: none;
    line-height: 100px;
}
li.list{
    float:left;
    display: inline-block;
    list-style: none;
    line-height: 100px;
    
}
a.title{
    font-size:30px;
    font-weight: bold;
    display:block;
    text-decoration: none;
    color:black;
}
a.list{
    display:block;
    text-decoration: none;
    font-size:23px;
    padding:0 20px;
    font-weight: bold;
    color:black;
}
a.list:hover{
    color:blue;
}
nav.newgame{
    width:100%;
    height:60px;
    background-color:white;
    border: 2px solid gray;
    border-right:none;
    border-left:none;
}

li.newgame{
    float:left;
    display:inline-block;
    list-style:none;
    line-height: 60px;
    border-right: 3px ridge gray;
}
a.newgame{
    
    text-decoration: none;
    font-size:16px;
    padding:0 20px;
    color:black;
}
a.newgame:hover{
    color:blue;
}
.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top:25px;
    height:0px;
}
.videowrapper iframe{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom: 0px;
    height:100%;
    width:100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    text-decoration: none;
    
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  text-decoration: none;
}

.bot {
    transition: .5s ease;
    opacity: 0.2;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width:100%;
    font-size: 20px;
    bottom: -3%;
    left:25%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
    text-decoration: none;
}
.slideshow-container:hover .image {
  opacity: 0.5;
}

.slideshow-container:hover .bot {
  opacity: 1;
  
}
.text {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    
}
