body
{
    background-color: ;

    
}
h1
{
    font-family: "Times New Roman", Times, serif;
    font-size: :200px;
    color:red;
    background-color: black;
    text-align: center;
    
    
}
img {
    
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
    width:80%
}
rectangle{
    width:500px;
    height:800px;
    border:1px solid #000;
    background:burlywood;
}